# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Virtual environment
venv/
Include/
Lib/
Scripts/
pyvenv.cfg
pip-selfcheck.json
