{% load staticfiles %}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="http://www.itdiffer.com">
            <img src="{% static '/images/logo.png' %}" width="100px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!--mr-auto means margin-right:auto, left to right-->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog:blog_title' %}">BLOG</a>
                </li>
            </ul>
            <!--ml-auto means margin-left:auto, right to left-->
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="#">{{ user.username }}</a></li>
                <li class="nav-item"><a class="nav-link" href="#">LOGOUT</a></li>
                {% else %}
                <li class="nav-item"><a href="{% url 'account:built_in_login' %}">LOGIN</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>
