{% extends "article/base.html" %}
{% load staticfiles %}

{% block title %}article column{% endblock %} 

{% block content %}
<div>
    <p class="text-right">        
        <button id="add_column_modal" onclick="handle_column_modal('create','','')" 
        class="btn btn-primary" >创建新栏目</button>
    </p> 
    <table class="table table-hover">
        <tr> 
            <td>序号</td>
            <td>栏目名称</td>
            <td>操作</td> 
        </tr>
        {% for column in columns %} 
        <tr>
            <td>{{ forloop.counter }}</td> 
            <td>{{ column.column }}</td> 
            <td>
                <a name="edit" class="text-decoration-none mr-2" 
                data-toggle="tooltip" data-placement="top" 
                title="编辑此栏目" href="javascript:"
                onclick="handle_column_modal('update', '{{ column.id }}', '{{ column.column }}')"> 
                    <i class="far fa-edit"></i>    
                </a>
                <a name="delete" class="text-decoration-none ml-2" 
                data-toggle="tooltip" data-placement="top" 
                title="删除此栏目" href="javascript:" 
                onclick="handle_column_modal('delete', '{{ column.id }}', '{{ column.column }}')">
                    <i class="far fa-trash-alt"></i> 
                </a>   
                
            </td>
        </tr>
        {% empty %} 
        <p>还没有设置栏目。</p> 
        {% endfor %}
    </table> 
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
                <div class="text-center" style="margin-top:20px">
                    <p id="modal-body-title">modal-body-title</p>
                    <p id="modal-body-content">
                        <input type="hidden" id="handle_type" value="">
                        <input type="hidden" id="column_id" value="column_id">
                        <input type="text" id="column_name" value="column_name">                        
                    </p>
                    <p id="error_tip" name="error_tip"  style="color:red;visibility:hidden;">此栏目已有，请更换名称</p>
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            <button id="modal-submit" type="button" class="btn btn-primary" 
            onclick="handle_column_CUD()">确定</button>
            
        </div>
        </div>
    </div>
</div>


<script type="text/javascript">    
    function handle_column_modal(handle_type, column_id, column_name){
        if (handle_type == 'create'){
            $("#modal-body-title").html("请输入新的栏目名称");            
        } else if (handle_type == 'update'){
            $("#modal-body-title").html("请输入新的栏目名称");            
        } else if (handle_type == 'delete'){
            $("#modal-body-title").html("请确认删除以下栏目");            
        } 
        
        $("#handle_type").val(handle_type);
        $("#column_id").val(column_id);
        $("#column_name").val(column_name);
        
        $('#exampleModal').modal('show');
    }

    function handle_column_CUD(){
        var handle_type = $("#handle_type").val().trim();;
        var column_id = $("#column_id").val().trim();;
        var column_name = $("#column_name").val().trim();

        if (handle_type == 'create'){
            add_column(column_id, column_name);
        }else if (handle_type == 'update'){
            edit_column(column_id, column_name);
        }else if (handle_type == 'delete'){
            delete_column(column_id)
        }
    }

    function add_column(column_id, column_name){        
        $.ajax({
            url: '{% url "article:article_column" %}',
            type: 'POST',
            data: { "column": column_name },
            success: function (e) {
                if (e == "1") {
                    parent.location.reload();
                    //layer.msg("good");
                } else {
                    //layer.msg("此栏目已有，请更换名称")
                    document.getElementById("error_tip").style.visibility = "visible";                    
                }
            },
        });
    }

    function edit_column(column_id, column_name){
        $.ajax({
            url: '{% url "article:rename_article_column" %}',
            type: 'POST',
            data: {"column_id": column_id, "column_name": column_name},
            success: function (e) {
                if (e == "1") {
                    parent.location.reload();
                    //layer.msg("good");
                } else {
                    //layer.msg("此栏目已有，请更换名称")
                    document.getElementById("error_tip").style.visibility = "visible";                    
                }
            },
        });
        
    }

    function delete_column(column_id){
        $.ajax({
            url: '{% url "article:delete_article_column" %}',
            type: 'POST',
            data: {"column_id": column_id},
            success: function (e) {
                if (e == "1") {
                    parent.location.reload();
                    //layer.msg("good");
                } else {
                    //layer.msg("此栏目已有，请更换名称")
                    document.getElementById("error_tip").style.visibility = "visible";                    
                }
            },
        });
        
    }

</script>

{% endblock %}