{% extends "article/base.html" %}
{% load staticfiles %}

{% block title %}article column{% endblock %} 

{% block content %}
<div style="margin-left:10px">
    <form class="form-horizontal" action="." method="post">{% csrf_token %} 
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-1 text-right"><span>标题:</span></div>
            <div class="col-md-11 text-left">{{article_form.title}}</div> 
        </div>


        <div class="row" style="margin-top: 10px;">
            <div class="col-md-1 text-right"><span>栏目:</span></div> 
            <div class="col-md-11 text-left">
                <select id="which_column">
                    {% for column in article_columns %}
                        {% if column == article_column %}
                        <option value="{{column.id}}" selected="selected">{{column.column}}</option>
                        {% else %}
                        <option value="{{column.id}}">{{column.column}}</option>
                        {% endif %}                     
                    {% endfor %}
                </select> 
            </div>
        </div>

        <div class="row" style="margin-top: 10px;">
            <div class="col-md-1 text-right"><span>标签：</span></div>
            <div class="col-md-11 text-left">
                {% for tag in article.tags.all %}
                {{ tag }}
                {% if not forloop.last %}
                    ,
                {% endif %}
                {% endfor %}  
            </div>                      
        </div>
        
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-1 text-right"><span>内容:</span></div>
            <div class="col-md-11 text-left"></div>
        </div>

        <div class="row" style="margin-top: 10px;"></div>
            <div class="col-md-12 text-left"></div>
                {{ article_form.media }}
                {{ article_form.body }}
            </div>
            <!--div id="editormd" class="col-md-10 text-left">
                <textarea style="display:none;" id="id_body"></textarea>
            </div--> 
        </div>
        <div class="row">
            <input type="button" class="btn btn-primary btn-lg" value="提交修改"  onclick="redit_article()">
        </div>
    </form>
</div>

<script type="text/javascript"> 
    function redit_article(){
        var title = $("#id_title").val();
        var column_id = $("#which_column").val(); 
        var body = $("#id_body").val();
        $.ajax({
            url: "{% url 'article:redit_article' article.id %}", 
            type: "POST",
            data: {"title":title, "body":body, "column_id":column_id}, 
            success: function(e){
                if(e=="1"){ 
                    //alert("successful");
                    location.href = "{% url 'article:article_list' %}"; 
                }else{
                    alert("update failed!"); 
                }
            }, 
        });
    } </script>
    

{% endblock %}