{% extends "base.html" %}
{% load staticfiles %}
{% block title %}articles detail{% endblock %}

{% block css %}
    <link href="{% static 'mdeditor/css/editormd.min.css' %}" rel="stylesheet">
    <link href="{% static 'mdeditor/css/editormd.preview.css' %}" rel="stylesheet"> 
{% endblock %}

{% block content %} 
{% with total_likes=article.users_like.count user_like=article.users_like.all %}
<div>
    <header>
        <h2>{{ article.title }}</h2> 
        <p>{{ article.author }}
            <span class="badge badge-pill badge-primary ml-2"><i class="far fa-thumbs-up mr-1"></i>{{ total_likes }}</span>
            <span class="badge badge-pill badge-primary ml-2"><i class="far fa-eye mr-1"></i>{{ total_views }}</span>
        </p>
    </header>
    
    <hr />

    <div id='editormd-view'>
        <textarea>{{ article.body }}</textarea> 
    </div>

    <div>
        <p class="text-center">
            <a onclick="like_article({{article.id}}, 'like')" href="#">
                <i class="far fa-thumbs-up mr-1">like</i>
            </a>
            <a onclick="like_article({{article.id}}, 'unlike')" href="#">
                <i class="far fa-thumbs-down mr-1">like</i>
            </a>
        </p>
    </div>

</div>
<script src="{% static 'mdeditor/js/jquery.min.js' %}"></script>
  <script src="{% static 'mdeditor/js/editormd.min.js' %}"></script>
  <script src="{% static 'mdeditor/js/lib/marked.min.js' %}"></script>
  <script src="{% static 'mdeditor/js/lib/prettify.min.js' %}"></script>
  <script src="{% static 'mdeditor/js/lib/raphael.min.js' %}"></script>
  <script src="{% static 'mdeditor/js/lib/underscore.min.js' %}"></script>
  <script src="{% static 'mdeditor/js/lib/sequence-diagram.min.js' %}"></script>
  <script src="{% static 'mdeditor/js/lib/flowchart.min.js' %}"></script>
  <script src="{% static 'mdeditor/js/lib/jquery.flowchart.min.js' %}"></script>


<script type="text/javascript"> 
$(function(){
    editormd.markdownToHTML("editormd-view", {
        htmlDecode: "style, script, iframe",
        emoji: true,
        taskList:true,
        tex:true,   // 默认不解析
        flowChart:true, // 默认不解析
        sequenceDiagram : true, // 默认不解析
    });
});

function like_article(id, action){
    $.ajax({
        url: "{% url 'article:like_article' %}", 
        type: "POST",
        data: {"id":id, "action":action}, 
        success: function(e){
            if(e=="1"){ 
                //layer.msg("感谢点赞"); 
                window.location.reload();
            }else{ 
                //layer.msg("我会继续努力"); 
                window.location.reload();
            } 
        },
    });
}

</script>

{% endwith %}
{% endblock %}