{% extends "base.html" %}

{% load staticfiles %}

{% block title %} articles {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
    <div class="col-md-8">
        <div class="text-center mt-2 mb-1">
                <h1>阅读，丰富头脑，善化行为</h1>
        </div>

        {% for article in articles %} 
        <div class="card mb-1">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{{ article.get_url_path }}">{{article.title}}</a>
                </h5>
                <h6 class="card-subtitle mb-2">作者: <a href="{% url 'article:author_articles' article.author.username %}">{{article.author.username}}</a></h6>
            
                <p class="card-text">{{article.body|slice:'70'| linebreaks}}</p>
            </div>
        </div>
        {% endfor %}

        {% include "paginator.html" %} 
    </div>

    <div class="col-md-4 mt-5">
        <div>
            {% if userinfo.photo %}
            <img src="{{ userinfo.photo | striptags }}" class="img-circle" id="my_photo" name="user_face" style="width: 300px"> 
            {% else %}
            <img name="user_face" src="{% static 'images/newton.jpg' %}" class="img-circle" id="my_photo" style="width: 300px">
            {% endif %}
        </div>
        <div>
            <p>{{ author.username }}</p>
            
            {% if userinfo %}
            <p>{{ userinfo.company }}</p>
            <p>{{ userinfo.aboutme }}</p>
            {% else %} 
            <p>这个作者太懒了，什么也没有留下。</p> 
            {% endif %}
        </div>
        
    </div>
</div>

</div>
{% endblock %}